.container {
	display: flex;
	flex-direction: column;
}

.flextext {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.initial-image {
  width: 15rem;
  height: 15rem;
}
