.container {
	display: flex;
	flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .animaterank {
    animation: animenumber infinite 7s linear;
  }
  .animatename {
    animation: animename infinite 21s linear;
  }
}

.flextext {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

@keyframes animenumber {
	29% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(5deg);
  }
  31% {
    transform: rotate(-5deg);
  }
  32% {
    transform: rotate(5deg);
  }
  33% {
    transform: rotate(-5deg);
  }
  34% {
    transform: rotate(0deg);
  }
  37% {
  	transform: scale(1.1);
  }
  40% {
  	transform: scale(1.0);
  }
}

@keyframes animename {
  1% {
    transform: scale(1.1);
  }
  2% {
    transform: scale(1.2);
  }
  3% {
    transform: scale(1);
  }
}

