.tilt {
background: rgb(60,110,67);
background: -moz-linear-gradient(330deg, rgba(60,110,67,1) 0%, rgba(197,232,210,1) 49%, rgba(179,233,180,1) 100%);
background: -webkit-linear-gradient(330deg, rgba(60,110,67,1) 0%, rgba(197,232,210,1) 49%, rgba(179,233,180,1) 100%);
background: linear-gradient(330deg, rgba(60,110,67,1) 0%, rgba(197,232,210,1) 49%, rgba(179,233,180,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c6e43",endColorstr="#b3e9b4",GradientType=1);
}