.nav {
	display:flex;
	justify-content: flex-end;
	margin-right: 5%;
}

.nav-size {
	width: 6rem;
	height: 6rem;
	font-size: 1.6rem;
}

.nav-box {
	background: rgb(71,67,58);
	background: -moz-linear-gradient(90deg, rgba(71,67,58,1) 0%, rgba(123,128,93,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(71,67,58,1) 0%, rgba(123,128,93,1) 100%);
	background: linear-gradient(90deg, rgba(71,67,58,1) 0%, rgba(123,128,93,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#47433a",endColorstr="#7b805d",GradientType=1);
}

/* media querries */

@media only screen and (max-width: 800px) {
	p {
		display: block;
		margin-block-start: 0;
		margin-block-end: 0;
		margin-inline-start: 0;
		margin-inline-end: 0;
	}

	.nav-size {
	width: 4rem;
	height: 4rem;
	font-size: 1rem;
	}
}