.nav {
	display:flex;
	justify-content: flex-end;
	margin-right: 5%;
}

.nav-box {
background: rgb(13,131,76);
background: -moz-linear-gradient(38deg, rgba(13,131,76,1) 0%, rgba(144,198,205,1) 100%);
background: -webkit-linear-gradient(38deg, rgba(13,131,76,1) 0%, rgba(144,198,205,1) 100%);
background: linear-gradient(38deg, rgba(13,131,76,1) 0%, rgba(144,198,205,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d834c",endColorstr="#90c6cd",GradientType=1);
}