.skew-back {
  transform: skewY(10deg);
}

.head-img {
	margin-left: 5%;
	margin-top: 13rem;
	width: 15rem;
}

.hd-margin {
	margin-left: 5%;
	margin-top: 30px;
	margin-bottom: 50px;
}

h2 {
	font-size: 1.2rem;
	background: rgb(71,67,58);
background: -moz-linear-gradient(90deg, rgba(71,67,58,1) 0%, rgba(170,177,121,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(71,67,58,1) 0%, rgba(170,177,121,1) 100%);
background: linear-gradient(90deg, rgba(71,67,58,1) 0%, rgba(170,177,121,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#47433a",endColorstr="#aab179",GradientType=1);
 	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header-background {
	position: fixed;
	top: 0px;
	width: 100vw;
}

/* media querries */

@media only screen and (max-width: 800px) {
	.hd-margin {
		margin-left: 5%;
		margin-top: 20px;
	}

	h2 {
		font-size: 1rem;
	}

	.head-img {
		margin-left: 5%;
		margin-top: 12rem;
		width: 8rem;
	}

	.header-background {
		height: 16rem;
	}
}