.header {
	/* margin-top: -200px; */
	width: 100vw;
	height: auto;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
}

.head-img {
	margin-left: 5%;
	/* margin-top: 13rem; */
	width: 15rem;
}

.hd-margin {
	margin-left: 5%;
	margin-top: 30px;
	margin-bottom: 50px;
	font-weight: 200;
}

h2 {
	font-size: 1.2rem;
}

.header-background {
	position: fixed;
	top: 0px;
	width: 100vw;
}

/* media querries */

@media only screen and (max-width: 800px) {
	.hd-margin {
		margin-left: 5%;
		margin-top: 20px;
	}

	h2 {
		font-size: 1rem;
	}

	.head-img {
		margin-left: 5%;
		width: 8rem;
		z-index: 30;
	}

	.header-background {
		height: 16rem;
		z-index: -1;
	}
}