.skew-back {
  transform: skewY(10deg);
}

.head-img {
	margin-left: 5%;
	margin-top: 200px;
}

.hd-margin {
	margin-left: 5%;
	margin-top: 50px;
}

h2 {
	font-size: 1.2rem;
	background: -webkit-linear-gradient(45deg, #064a12, #57d9cb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}