/*.App {
  text-align: center;
}*/

.center {
  display:flex;
  justify-content: center;
}

.spread {
  display: flex;
  justify-content: flex-end;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.header {
  margin-top: -200px;
  width: 100vw;
  height: 1000px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.card-box {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
  box-shadow: 7px 7px 10px 1px;
}

.cont-grid{
  margin: 0px auto;
  margin-top: 10vh;  
  width: 80vw;
  min-height: 600px;
  height: auto;
  display: grid;
<<<<<<< HEAD
  background:
  linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
  linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
  linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
  background-color:#e1ebbd;
  background-size: 128px 128px;
  box-shadow: 10px 10px 10px 10px black;
  min-height: 600px;
=======
  background: linear-gradient(180deg, rgba(6,74,18,1) 0%, rgba(63,134,89,1) 49%, rgba(119,217,203,1) 100%);  
  box-shadow: 10px 10px 10px 10px black; 
>>>>>>> b06db7afc3e6e256ea2405ec2849fc783c3a2359
  grid-template-columns: 5% 20% 20% 50% 5%;
  grid-template-rows: 30% 30% 20% auto;
}

.item-a {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item-b {
  font-size: 4.5rem;
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  grid-column-start: 3;  
  grid-row-start: 1;
  grid-row-end: 3;
}

.item-c {
  grid-column-start: 2;
  grid-row-start: 2;
}

.item-d {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  margin-top: 100px;
}

.item-e {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  margin-left: 0px auto;
}

/* media querries */

@media only screen and (max-width: 1100px) {
  .item-d {
    grid-column-end: 5;
  }

  .item-b {
    font-size: 3rem; 
  }

  .number {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .cont-grid {
    width: 95vw;
    margin: 1rem auto;
  }
}

@media only screen and (max-width: 600px) {
  .cont-grid{    
    width: 90vw;
    margin: 2rem auto;
    padding: 1rem; 
    height: 140vh;   
    background: linear-gradient(180deg, rgba(6,74,18,1) 0%, rgba(63,134,89,1) 49%, rgba(119,217,203,1) 100%);  
    box-shadow: 10px 10px 10px 10px black;    
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 10% 10% 50% 10%;
  }

  .item-a {    
    grid-column-start: 2;    
    grid-row-start: 1;
    }
  
  .item-b {    
    grid-column-start: 3;  
    grid-row-start: 1; 
  }
  
  .item-c {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;  
  }
  
  .item-d {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;  
    margin-top: 3rem;
  }
  
  .item-e {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3; 
    margin-left: 0px auto;
  }

  p {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}