/*.App {
  text-align: center;
}*/

.center {
  display:flex;
  justify-content: center;
}

.spread {
  display: flex;
  justify-content: flex-end;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.header {
  margin-top: -200px;
  width: 100vw;
  height: 1000px;
  position: absolute;
  background-image: url("/src/img/sample.svg");
/*  background-image: ("/src/img/bckg2.jpg");*/
  background-size: cover;
  background-position: bottom-left;
  background-repeat: no-repeat;
  z-index: -1;
/*  transform: skewY(-10deg);*/
/*  box-shadow: 15px 15px 15px 10px #212121;*/
}

.cont-grid{
/*  width: 800px;*/
  margin-top: 10vh;
  min-width: 800px;
  max-width: 80vw;
  min-height: 600px;
  display: grid;
  background: linear-gradient(180deg, rgba(6,74,18,1) 0%, rgba(63,134,89,1) 49%, rgba(119,217,203,1) 100%);
  box-shadow: 10px 10px 10px 10px black;
  min-height: 600px;
  grid-template-columns: 5% 20% 20% 55%;
  grid-template-rows: 25% 25% 40% auto;
}

.item-a {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item-b {
  font-size: 70px;
  font-family: sans-serif;
  font-weight: 800;
  display: grid;
  grid-column-start: 3;  
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: white;
}

.item-c {
  grid-column-start: 2;
  grid-row-start: 2;
}

.item-d {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  margin-top: 100px;
}

.item-e {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  margin-left: 0px auto;
}

