.center {
  display:flex;
  justify-content: center;
}

.spread {
  display: flex;
  justify-content: flex-end;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.header {
  margin-top: -200px;
  width: 100vw;
  height: 1000px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.card-box {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
  box-shadow: 7px 7px 10px 1px;
}

.cont-grid{
  margin: 0px auto;
  margin-top: 10vh;  
  width: 80vw;
  min-height: 600px;
  height: auto;
  border-radius: 10px;
  display: grid;
  background-image:
  radial-gradient(closest-side, transparent 0%, transparent 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%),
  radial-gradient(closest-side, transparent 0%, transparent 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%);
  background-size: 110px 110px;
  background-color: #C8D3A7;
  background-position: 0 0, 55px 55px;
  box-shadow: 5px 5px 5px 5px black;
  min-height: 600px;
  grid-template-columns: 5% 20% 20% 50% 5%;
  grid-template-rows: 30% 30% 20% auto;
}

.item-a {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item-b {
  font-size: 4.5rem;
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  grid-column-start: 3;  
  grid-row-start: 1;
  grid-row-end: 3;
}

.item-c {
  grid-column-start: 2;
  grid-row-start: 2;
}

.item-d {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  margin-top: 7rem;
}

.item-e {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  margin-left: 0px auto;
}

/* media querries */

@media only screen and (max-width: 1100px) {
  .item-d {
    grid-column-end: 5;
  }

  .item-b {
    font-size: 3rem; 
  }

  .number {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .cont-grid {
    width: 95vw;
    margin: 5rem auto;
  }
}

@media only screen and (max-width: 600px) {
  .cont-grid{    
    width: 90vw;
    margin: 5rem auto;
    padding: 1rem; 
    height: 150vh;   
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 15% 12% 40% 10%;
    box-shadow: 2px 2px 2px 1px black;
  }

  .item-a {    
    grid-column-start: 2;    
    grid-row-start: 1;
    }
  
  .item-b {    
    grid-column-start: 3;  
    grid-row-start: 1; 
  }
  
  .item-c {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;  
  }
  
  .item-d {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;  
    margin-top: 9rem;
  }
  
  .item-e {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3; 
    margin-left: 0px auto;
  }

  p {
    font-size: 1rem;
  }
}