@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  min-width: 800px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background: rgb(6,74,18);
background: -moz-linear-gradient(95deg, rgba(6,74,18,1) 0%, rgba(63,134,89,1) 49%, rgba(119,217,203,1) 100%);
background: -webkit-linear-gradient(95deg, rgba(6,74,18,1) 0%, rgba(63,134,89,1) 49%, rgba(119,217,203,1) 100%);
background: linear-gradient(95deg, rgba(6,74,18,1) 0%, rgba(63,134,89,1) 49%, rgba(119,217,203,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#064a12",endColorstr="#77d9cb",GradientType=1);
  background-attachment: fixed;
  font-family: 'Lora', Courier, Monospace;
}

button {
	cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
