@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Oswald&display=swap');

body {
  width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(71,67,58);
  background: -moz-linear-gradient(90deg, rgba(71,67,58,1) 0%, rgba(232,236,205,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(71,67,58,1) 0%, rgba(232,236,205,1) 100%);
  background: linear-gradient(90deg, rgba(71,67,58,1) 0%, rgba(232,236,205,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#47433a",endColorstr="#e8eccd",GradientType=1);
  background-attachment: fixed;
  font-family: 'Oswald', Courier, Monospace;
  font-weight: 500;
}

button {
	cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
